.heading-1 {
    font-size: 60px;
    line-height: 100%;
    color: $theme2;
}
.heading-2 {
    font-size: 40px;
    color: $theme2;
    line-height: 38px;
}
.heading-3 {
    font-size: 30px;
    color: $black;
    line-height: 120%;
}