.heading-1 {
    font-size: 60px;
    line-height: 55px;
    color: $theme2;
}
.heading-2 {
    font-size: 38px;
    color: $theme2;
    line-height: 38px;
}
.heading-3 {
    font-size: 28px;
    color: $theme2;
    line-height: 36px;
}