// hero-section
.hero-section {
    background-color: lighten($danger, 44);
    & .hero-left {
        & .or {
            font-size: 14px;
            color: $theme2;
            &::before {
                content: '';
                position: absolute;
                top: 8px;
                left: -75px;
                width:68px;
                height: 2px;
                border: 1px solid $theme2;
                background-color: $theme2;
            }
            &::after {
                content: '';
                position: absolute;
                top: 8px;
                right: -75px;
                width:68px;
                height: 2px;
                border: 1px solid $theme2;
                background-color: $theme2;
            }
        }
    }
    & .hero-right {
        & .rating {
            & .pen-nib {
                height: 50px;
                width: 50px;
                background-color: $theme1;
                // & .pen-nib-icon {
                //     height: 20px;
                //     width: 20px;
                // }
            }
            & .hero-heading-1 {
                font-size: 16px;
                color: $theme2;
            }
            & .cratars {
                font-size: 12px;
            }
            & .star {
                height: 11px;
                width: 11px;
            }
        }
        & .texto-result {
            min-height: 300px;
            max-width: 300px;
            & .texto-result-heading {
                background: $theme2;
                color: $white;
                font-size: 16px;
              
            }
            & .texto-content {
                & .texto-icon {
                    height: 13px;
                    width: 13px;
                }
            }
           
        }
   
    }
    & .texto-result-2 {
        margin-top:-11rem;
        & .texto-result2-content{
            min-height: 300px;
            max-width: 300px;
            & .texto-result-heading {
                color: $theme1;
                background-color: $theme2;
                font-size: 16px;
                line-height: normal;
                & .texto-content {
                    color: $white;
                    font-size: 12px;
                }
            }
            & .product-heading {
                font-size: 14px;
            }
            & .formm {
                font-size: 12px;
            }
            & .generate-btn {
                font-size: 12px;
            }
        }
     
    }
}
   
// rating section start
.rating-captera {
    & .rating-main-icon {
        height: 45px;
    }
    & .rating-title {
        font-size: 18px;
        color: $theme2;
    }
 
    // & .rating-logos {
    //     max-height: 60px;
    //     max-width: 60px;
    // }
}

// ai writer
.ai-writer-main {
    & .ai-writer {
        background: lighten($success, 62);
    }
    & .ai-writer-left {
        & .page-count {
            font-size: 12px;
            background: lighten($success, 50) ;
            color: $theme2;
            height: 25px;
            width: 25px;
        }
    }
    & .ai-writer-right {
        & .social-media {
            max-width: 280px;
            & .ads {
                font-size: 16px;
                color: $theme2;
                & .ad-icon {
                    max-height: 14px;
                    max-width: 14px;
                }
            }
            & .ai-writer-socialicon {
                transform: scale(1.2);
            }
            & .line {
                background-color: $theme1;
                color: $theme1;
                border:  1px solid $theme1;
                height: 1px;
            }
            & .ai-social-icon {
                height: 20px;
                width: 20px;
            }
            & .ai-content {
                font-size: 14px;
                color:lighten($black,20);
                & .yellow-checkicon {
                    height: 12px;
                    width: 12px;
                    border:1px solid $theme1;
                    & .yellow-checkimg {
                        padding: 2px;
                    }
                }
            }
        }
        & .ai-workspace {
            background: lighten($primary, 38) ;
            max-width: 220px;
            & .ai-workspace-title{
                font-size: 11px;
                margin-right: -12px;
                color: $theme3;
                margin-left: 12px;
            }
            // & .placeholder {
            //     height: 10px;
            // }
        }
    }
}

// ai-generate
.ai-generate {
    & .ai-generate-left {
        background-color: lighten($danger, 44);
        & .ai-count {
            font-size: 12px;
            height: 28px;
            width: 28px;
            background-color:lighten($danger, 40);
        }
        & .ai-generate-blog {
            max-width: 300px;
            & .blog-heading {
                font-size: 14px;
            }
            & .blog-content {
                font-size: 12px;
                color:$theme2;
            }
            & .blog-content-2 {
                font-size: 12px;
                color: lighten($black,45);
            }
            & .generate-btn {
                font-size: 13px;
                color: $theme1;
            }
            & .blog-contentthree {
                font-size: 10px;
                white-space: nowrap;
            }
        }
      & .complete-project-main {
        max-width: 300px;
        & .complete-project-content {
            background-color: lighten($danger, 44);
            
            & .count-project {
                font-size: 14px;
                color: $theme2;
            }
            & .complete-project-title {
                font-size: 10px;
                color:  lighten($black, 30);
            }
            & .project-icon {
                background-color: $white;
                height: 9px;
                width: 9px;
                box-shadow: 0 -1px 0 $theme1;
            }
        }
        & .complete-project-img {
            height: 30px;
            width: 30px;
            background: lighten($success,62);
            & .complete-project-img-inner {
                height: 13px;
                width: 13px;
                & .check-icon {
                    padding: 2px;
                }
            }
        }
        & .complete-project-img-2 {
            height: 30px;
            width: 30px;
            background-color: $theme1;
            & .check-icon {
                padding: 8px;
            }
        }
      }
    }
    & .ai-generate-right {
        background:lighten($danger, 44) ;
        & .yellowdots {
            height: auto;
            width: 28px;
        }
        & .up-arrow {
            height: 45px;
            width: 45px;
            top: 30%;
            right: -5%;
            background-color: $theme1;
        }
        & .page-count {
            height: 28px;
            width: 28px;
            background:lighten($danger, 40);
            font-size: 12px;
        }
    }
}

// gpt-3
.gpt-takes {
    & .gpt-takes-left {
        & .gap-title {
            color: lighten($black,50);
        }
    }
    & .gpt-takes-right {
        background: lighten($info, 46);
        & .content-generate {
            max-width: 300px;
            min-height: 300px;
            & .content-generate-heading {
                font-size: 16px;
                background-color: $theme2;
                color: $theme1; 
                & .close-icon {
                    height: 10px;
                    width: 10px;
                }
            }
            & .content-generate-headingtwo {
                font-size: 10px;
                color: lighten($black,30);
            }
            & .Choosetopic {
                & .Choosetopic-tabline {
                    height: 5px;
                }
            }
            & .select-length {
                & .length-line {
                    height: 4px;
                    width: 75px;
                }
            }
        }
        & .generate-export {
            margin-top: -85px;
            max-width: 280px;
            & .generate-export-heading {
                background-color: $theme2;
            }
            & .generate-btnmain {
                top: -11%;
                left: -20%;
                  & .generate-btn {
                background-color: $theme1;
                font-size: 14px;
                color: $theme2;
            }
            }
            & .export-btnmain {
                bottom: -11%;
               right: -19%;
                  & .export-btn {
                background-color: $theme1;
                font-size: 10px;
                color: $theme2;
            }
            }
        }
    }
}

// ai-blogeditor
.ai-blogeditor {
    & .ai-blogeditor-left {
        background-color:   lighten($info, 46);
        & .blog-projectmain {
            & .methods {
                font-size: 15px;
                color: $white;
                background: $theme2;
                 & .close-icon {
                    height: 10px;
                    width: 10px;
                 }
            }
            & .blog-project {
                & .blog-project-heading {
                    font-size: 12px;
                    color: $theme1;
                    background-color: $theme2;
                }
                & .blog-project-title {
                    font-size: 10px;
                    color: lighten($black, 30);
                }
            }
        }
    
        & .after-textoresult {
            top: 50%;
            right:30%;
            & .after-textoresult-heading { 
                font-size: 15px;
                color:$white;
                background-color: $theme2;
           }
           & .after-textoresult-headingtwo {
               font-size: 13px;
               & .after-textoresult-headingtwo-icon {
                height: 18px;
                width: 18px;
                padding: 3px;
                border: 2px solid $theme1;
               }
           }
           & .after-textoresult-content {
               font-size: 11px;
               line-height: 12px;
               color: $theme2;
           }
    }
    }
    & .ai-blogeditor-right {
        & .read-more {
            color: $theme2;
            font-size: 12px;
            border-bottom: 2px solid $theme2;
            &:hover {
                & .right-arrow {
                    // margin-left: 10px !important;
                    transform: translateX(4px);
                }
            }
            & .right-arrow {
                height: 14px;
                width: 14px;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

// pricing section
.price-section {
    & .check-btn {
        & .time {
            font-size: 16px;
            color: $black;
        }
        & .form-switch {
            & .form-check-input {
                height: 20px;
                width: 40px;
                &:checked {
                    border-color: $theme1;
                    background-color: $theme1;
                }
            }
        }
    }
    & .pricing-card {
        & .price-heading {
            font-size: 20px;
            color: $theme2;
        }
        & .price {
            font-size: 20px;
            & .time {
                font-size: 12px;
                color: lighten($black, 30);
            }
        }
        & .pricing-content {
            font-size: 13px;
            color: lighten($black, 30);
        }
        & .try-btn {
            border: 2px solid $theme1;
            font-size: 13px;
        } 
        & .days {
            font-size: 14px;
            color: $theme2;
        }
    }
    & .grow-plan {
        & .try-btn {
            background-color: $theme1;
        }
    }
    & .enterprise {
        background-color: $theme2;
        & .price-heading {
            color: $white;
        }
        & .priceheading2 {
            font-size: 24px;
            color: $white;
        }
        & .try-btn {
            color: $theme1;
        }
        & .pricing-content {
            color:lighten($black, 30);
        }
        & .days {
            color: $white;
        }
    }
}

// texto-help
.texto-help {
    & .title {
        color: lighten($black, 60);
    }
    & .view-all {
        font-size: 20px;
        color: $white;
    }
    & .textohelp-nav {
        & .navbar-brand {
            & .nav-logo {
                filter: invert(1);
            }
        }
        & .textohelp-offcanvas {
            & .nav-link {
                font-size: 14px;
                color: $white;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: $theme2;
                }
            }
            & .createaccount-btn {
                color: $white;
                background: lighten($white, 30);
            }
        }
    }
    & .textohelp-content {
        & .textohelp-rightarrow {
            height: 18px;
            width: 18px;
        }
        & .textohelp-content-heading {
            font-size: 16px;
            color: $white;
        }
        & .textohelp-content-title {
            font-size: 14px;
            color: lighten($black, 70);
            line-height: 17px;
        }
    }
}

// testimonal
.testimonal {
    & .client-carousel {
        & .user-card {
            & .about-client {
                font-size: 16px;
                line-height: 21px;
                color:$black;
            }
            & .slash {
                font-size: 14px;
                color: $theme3;
            }
            & .rating-title {
                font-size: 14px;
                color: $theme2;
            }
            & .user-data {
                & .user-img {
                    width: 35px;
                    height: 35px;
                }
                & .user-name {
                    font-size: 18px;
                    color: $theme2;
                }
                & .user-position {
                    font-size: 16px;
                    color:$black;
                }
            }
        }
        & .owl-nav {
            position: absolute;
            top: -55%;
            right: 5%;
            display: flex;
            justify-content: end;
            gap: 10px;
            & .owl-prev {
                color: $theme2;
                border:2px solid $theme1;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                font-size: 25px;
                display: flex;
                font-weight: 600;
                align-items: center;
                justify-content: center;
                &:active {
                    background-color: $theme1;
                }
            }
            & .owl-next {
                color: $theme2;
                border:2px solid $theme1;
                background-color: $theme1;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                font-size: 25px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                &:active {
                    background-color:$theme1
                }
            }

        }
    }
   
}

// faq section
.faq-section {
    & .question {
        & .accordion-item {
            & .accordion-button {
                font-size: 16px;
                color: $black;
                &::after {
                    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
                    transform: scale(.7) !important;
                    // position: absolute;
                    // left: 20px;
                    transition: all 0.3s ease-in-out;
                  }
                  &:not(.collapsed)::after {
                     background:  url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
                  }
                  &:not(.collapsed) {
                    background-color: $white ;
                    color: $black;
                  }
            }
            & .accordion-body {
                font-size: 14px;
                color: $black;
            }
        }
    }
}
 
// footer
.footer {
    & .footer-logo {
       height: 30px;
    }
    & .footer-btn {
        font-size: 16px;
        color: $white;
    }
    & .create-account {
        &:hover {
            color: lighten($theme1, 20);
        }
    }
    & .join-community {
        font-size: 20px;
        color: $white;
    }
    & .footer-title {
        font-size: 14px;
    }
    & .main-links {
        & .main-link-heading {
            font-size: 18px;
            color: $white;
        }
        & .main-link {
            font-size: 14px;
            transition: all 0.3s ease-in-out;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                background-color: $white;
                height: 2px;
                transform: translate(0, -50%);
                width: 12px;
                opacity: 0;
                transition: all 0.3s ease-in-out;
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 10px;
                background-color: $theme1;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                transform: translate(0, -50%);
                opacity: 0;
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                color: $theme1 !important;
                transform: translateX(10px);
                &::before {
                    opacity: 1;
                }
                &::after {
                    opacity: 1;
                }
            }
        }
    }
    & .top-btn {
        height: 40px;
        width: 40px;
        top: 1%;
        right: 5%;
        & .top-btnicon {
            transform: rotate(-90deg);
        }
    }
    & .footer-socialicon {
        height: 30px;
        width: 30px;
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
    & .copyright {
        font-size: 14px;
    }
}